body {
  margin: 0;
}

.menu {
  background-color: #bd051d;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  gap: 28px;
  justify-content: center;
}

.menu li {
  list-style: none;
  color: white;
}

.menu li:hover {
  text-decoration: underline;
}
